@media (max-width: 1200px)
  .container
    padding: 0 10px
  .back-navbar
    padding: 32px 0
@media (max-width: 576px)
  .section
    padding-top: 30px
    padding-bottom: 80px
    &-title
      font-size: 22px
      margin-bottom: 50px
  .back-navbar
    padding: 32px 0
// navbar
@media (max-width: 992px)
  .navbar
    &__logo
      width: 90px
    &__menu
      display: none
    &__info
      display: none
  .menu-mobile
    display: flex
    &__phone
      display: block
@media (max-width: 576px)
  .navbar
    &__logo
      width: 70px
  .menu-mobile
    &__phone
      font-size: 15px
      img
        width: 19px
    &__list
      transform: translateY(64px)
      &_active
        transform: translateY(64px)
@media (max-width: 340px)
  .navbar
    &__logo
      width: 70px
  .menu-mobile
    &__phone
      font-size: 14px
      img
        width: 18px
// hero
@media (max-width: 576px)
  .hero
    height: 490px
    &-text
      &__title
        margin-top: 60px
        font-size: 24px
      &__subtitle
        margin-bottom: 105px
        font-size: 16px
    &-button
      flex-direction: column
      align-items: center
      &__catalog
        margin-right: 0
        margin-bottom: 20px
      &__order
        margin-left: 0
// catalog
@media (max-width: 1058px)
  .categories
    justify-content: space-around
@media (max-width: 768px)
  .categories
    margin-bottom: 40px
  .category
    justify-content: center
    &:hover
      img
        opacity: 1
      .category__description
        margin-top: 0
        padding-bottom: 0
    &:nth-child(6)
      margin-bottom: 10px
    &__image
      margin-bottom: 10px
    &__title
      padding-bottom: 7px
      text-decoration: underline
      text-align: left
    &__line
      display: none
    &__number
      display: none
    &__description
      position: relative
      padding: 0
      transform: translateY(0)
      font-size: 15px
// works
@media (max-width: 1260px)
  .works
    &-controls
      &__left
        left: -10px
        z-index: 1
        background-color: white
        padding-top: 5px
        padding-bottom: 3px
      &__right
        right: -10px
        z-index: 1
        background-color: white
        padding-top: 5px
        padding-bottom: 3px
@media (max-width: 768px)
  .works
    &-controls
      display: none
// advantages
@media (max-width: 576px)
  .advantage
    margin-left: 0
    &s
      &__title
        margin-bottom: 10px
    &-wrap
      align-items: center
    &__item
      min-width: 320px
      flex-direction: column
      justify-content: center
    &__title
      margin-left: 0
      margin-top: 20px
      width: 320px
      text-align: center
    &__image
      width: 140px
      height: 140px
      img
        margin: 0
    &__number
      display: none
    &__text
      margin-top: 20px
      width: 290px
      text-align: center
      &:before
        display: none
// order
@media (max-width: 576px)
  .order
    &__title
      margin-bottom: 20px
    &__subtitle
      font-size: 14px
      line-height: 1.4
      margin-bottom: 0
  .input
    &:focus::placeholder
      transform: translateY(0px)
// footer
@media (max-width: 576px)
  .footer
    padding-top: 40px
    &-block
      flex-direction: column
      align-items: center
    &__logo
      display: none
    &-links
      margin-bottom: 20px
      &__list
        margin-right: 20px
    &-info
      flex-direction: column
      &__author
        margin-bottom: 5px
    &-social
      margin-right: 10px
      margin-bottom: 15px
      &__qrcode
        display: none
// Страница каталог изделий
@media (max-width: 576px)
  .catalog
    align-items: center
    &-block
      flex-direction: column
      align-items: center
    &-sort  
      margin-bottom: -5px
      margin-top: 10px
      width: 100%
      justify-content: center
      align-items: center
    &__title
      margin-bottom: 10px
      font-size: 22px
      text-align: center
  .sidebar
    &-block
      margin-bottom: 50px
      min-width: 300px
  .card
    width: 100%
    &__image
      width: 100%
    &s
      justify-content: center