.about
  position: relative
  padding-top: 10px
  background: url('../img/main/hero/bg-hero.jpg')
  background-size: cover
  background-position-y: center
  height: 515px
  &:after
    content: ''
    top: 0
    left: 0
    position: absolute
    width: 100%
    height: 100%
    background-image: linear-gradient(to bottom, rgba(38, 34, 34, 1) 0%, rgba(38, 34, 34, 0.8) 100%)
  &-block
    display: flex
    justify-content: space-between
    padding-top: 80px
  &-text
    width: 500px
    position: relative
    color: $white
    z-index: 1
    &__title
      font-size: 38px
      text-transform: uppercase
    &__description
      font-size: 16px
      line-height: 1.6
  &-wrap
    display: flex
  &-image
    position: relative
    width: 100%
    max-width: 550px
    margin-left: 30px
    z-index: 1
    &__photo
      box-shadow: 0 1px 15px 4px rgba(0, 0, 0, 0.3)
      object-fit: cover
      height: 350px
  
